body{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    margin-left: 10%;
}
h2{
    align-self:center;
    color: red;
}

h1{
    padding: 2% 0 2% 0;
    border-bottom: .5px rgb(128, 126, 126) ridge;
    color: rgb(54, 183, 243);
}

h3{
    padding: 2% 0 2% 0;
    color: rgb(54, 183, 243);
}
#about{
    height: auto;
    width: 30%;
}

#contact {
    background-color: #434242;
    height: 500px;
}

#contact>h1,.contact-list>span{
    color: white;
}

.contact-list{
    display: flex;
    margin: 1%;
    padding-left: 45%;
}

.contact-list>img{
    margin-right: 1%;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: grey;
  }
  
  a:active {
    text-decoration: none;
  }
